/*MAIN*/

:root {
  --main-color: #ec7099;
}

body {
  margin: 0;

  min-width: 750px;

  background-image: url('./images/happyface.jpg');
  background-repeat: no-repeat;
  background-size: 150vh 100vh;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; 
}

._deactive {
  display: none;
}

.main__background {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  
  width: calc(100% - 540px);
  min-height: calc(100vh - 15px);
  min-width: 210px;
}

.background {
  position: absolute;
  z-index: -1;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  
  width: calc(100% - 500px);
  min-height: calc(100vh - 15px);
  min-width: 250px;
}

#percentage-background {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -1;
 
  width: calc(100% - 550px);
  min-height: calc(100vh - 15px);
  min-width: 210px;

  background-color: #fcc150;
  opacity: 0.6;
}

.container {
  display: flex;
  height: calc(100vh - 10px);
  max-height: calc(100vh - 10px);
  padding: 0 0 10px 10px;

  min-height: 590px;
}

section {
  height: 100%;
}



.navigation__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation__container nav {
  bottom: 10px;
  left: 8px;

  padding: 2px 50px 5px;

  background-color: white;
  opacity: 0.7;
}

.percentage__container {
  display: flex;
  height: 100%;
}

#percentage {
  margin: auto;

  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

#percentage p:first-child {
  text-align: center;
  margin: 0;
  font-size: 150px;
  line-height: 160px;
}

#percentage p:last-child {
  text-align: center;
  margin: 0;
  font-size: 28px;
}

.navigation__container nav>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;

  font-size: 9px;
  list-style-type: none;
}

.navigation__container nav>ul>li {
  margin-bottom: 10px;

  cursor: pointer;
}



.content__container {
  min-width: 545px;
  height: 100%;
  display: flex;
}

.content__top-margin {
  width: 100%;
  min-height: 120px;
  background-color: var(--main-color);
}

.content__column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content__left-margin {
  height: 100%;
  width: 8px;
  background-color: var(--main-color);
}

.content__left-margin-image {
  position: relative;
  display: flex;
  left: -21px;
  top: 180px;
  z-index: 2;

  width: 50px;
  height: 50px;

  border-radius: 50px;
  background-color: var(--main-color);
}

.content__left-margin-image>div {
  width: 36px;
  height: 36px;

  margin: auto;

  border-radius: 36px;
  background-color: white;
  background-image: url('./images/heart.png');
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.content {
  padding: 55px 35px 0;
  height: 100%;

  text-transform: uppercase;
  color: #3b3b3b;
}

.content p:nth-child(2) {
  font-size: 15px;
  line-height: 18px;
  max-width: 300px;
}

.content p:nth-child(3) {
  margin-top: 70px;
  margin-block-end: 10px;
  font-size: 20px;
}

.content h1 {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--main-color);
  max-width: 400px;
}

.content__begin-button {
  padding: 8px 25px;
  cursor: pointer;
  background-color: #ec7099;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  outline: none;
}

.content__begin-button:active {
  background-color: #d46087;
}



@media (max-height: 600px) {
  body {
    background-size: 900px 600px;
  }
}

@media (min-width:  1100px) and (max-height: 700px) {
  .main__background {
    max-width: calc(150vh - 340px);
    min-width: calc(150vh - 340px);
  }

  .navigation__container {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }
  
  .content__container {
    min-width: 45%;
	  width: 100%;
  }
}

@media (min-width:  1300px) and (max-height: 800px) {
  .main__background {
    max-width: calc(150vh - 340px);
    min-width: calc(150vh - 340px);
  }

  .navigation__container {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }
  
  .content__container {
    min-width: 45%;
	  width: 100%;
  }
}

@media (min-width:  1450px) and (max-height: 1000px) {
  .main__background {
    max-width: calc(150vh - 340px);
    min-width: calc(150vh - 340px);
  }

  .navigation__container {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }
  
  .content__container {
    min-width: 45%;
	  width: 100%;
  }
}

@media (min-width:  1900px) and (min-height: 1000px) {
  .main__background {
    max-width: calc(150vh - 340px);
    min-width: calc(150vh - 340px);
  }

  .navigation__container {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }
  
  .content__container {
    min-width: 45%;
	  width: 100%;
  }
}



































/*OTHER*/
.content form {
  display: flex;
  flex-direction: column;

  margin-left: 3px;

  font-size: 10px;
  text-transform: none;
}

.pick-form__searching-sex-radio-wrapper {
  width: 220px;
}

.pick-form__searching-sex-radio {
  width: 1px;
  margin: 0;
}

.pick-form__searching-sex-button-male,
.pick-form__searching-sex-button-female {
  text-align: center;
  padding: 10px 0;

  border-radius: 5px;
  font-size: 15px;
  background-color: white;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 44px 8px;
}

.pick-form__searching-sex-button-male:active,
.pick-form__searching-sex-button-female:active {
  background-color: #e6ae46;
}

.pick-form__searching-sex-button-male {
  background-image: url('./images/male.svg');
  background-size: 25px 25px;
}

.pick-form__searching-sex-button-female {
  background-image: url('./images/female.svg');
  background-size: 25px 24px;
}

.pick-form__searching-sex-radio:checked ~ .pick-form__searching-sex-button-male,
.pick-form__searching-sex-radio:checked ~ .pick-form__searching-sex-button-female {
  background-color: #fcc150;
}

.open-registration-page-button {
  width: 150px;

  margin: 100px 0 0 35px;
  padding: 10px;

  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  background-color: #fcc150;
  cursor: pointer;
  outline: none;
}

.open-registration-page-button:active {
  background-color: #e6ae46;
}



.form__searching-sex-container {
  display: flex;
  margin-top: 3px;
}

.form__searching-sex-container label {
  display: flex;
}

.form__searching-sex-radio {
  width: 1px;
  margin: 0;
}

.form__searching-sex-button-male,
.form__searching-sex-button-female {
  padding: 10px 10px 10px 35px;

  border-radius: 5px;
  font-size: 15px;
  background-color: white;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 8px 8px;
}

.form__searching-sex-button-male:active,
.form__searching-sex-button-female:active {
  background-color: #1a9ab1;
}

.form__searching-sex-button-male {
  background-image: url('./images/male.svg');
  background-size: 25px 25px;
  margin-right: 10px;
}

.form__searching-sex-button-female {
  background-image: url('./images/female.svg');
  background-size: 25px 24px;
}

.form__searching-sex-radio:checked ~ .form__searching-sex-button-male,
.form__searching-sex-radio:checked ~ .form__searching-sex-button-female {
  background-color: #1da7c0;
}

.form__input-wrapper {
  margin-top: 5px;
}

.form__input-wrapper input {
  width: 230px;
  height: 40px;
  
  padding: 0 10px;

  border: none;
  border-radius: 5px;
  outline: none;
}

.form__invalid {
  border: 1px solid red !important;
  box-sizing: border-box;
  width: 250px !important;
}

.form__invalid::placeholder {
  color: #b72020;
}

.form__checkbox-wrapper {
  display: flex;

  max-width: 250px;
  margin-top: 5px;

  font-size: 7px;
}

.form__checkbox-wrapper input {
  width: 1px;
  margin: 0;
}

.form__checkbox {
  min-width: 10px;
  height: 10px;
  margin-right: 5px;
  text-align: center;

  border: 0.5px solid grey;
  box-sizing: border-box;
  background-color: rgb(216, 216, 216);
  color: rgb(216, 216, 216);
  font-size: 8px;
}

.form__checkbox-wrapper input:checked ~ .form__checkbox {
  color: black;
}

.content form>input[type="submit"] {
  width: 150px;

  margin-top: 5px;
  padding: 10px;

  border: 1px solid #1da7c0;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: grey;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.form__submit--active {
  color: white !important;
  background-color: #1da7c0 !important;
  padding: 100px;
}

.form__submit--active:active {
  background-color: #1a9ab1 !important;
}



@media (min-width:  1100px) and (max-height: 700px) {
  .background {
    max-width: calc(150vh - 300px);
    min-width: calc(150vh - 300px);
  }

  #percentage-background {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }

  .navigation__container {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }
  
  .content__container {
    min-width: 45%;
	  width: 100%;
  }
}

@media (min-width:  1300px) and (max-height: 800px) {
  .background {
    max-width: calc(150vh - 300px);
    min-width: calc(150vh - 300px);
  }

  #percentage-background {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }

  .navigation__container {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }
  
  .content__container {
    min-width: 45%;
	  width: 100%;
  }
}

@media (min-width:  1450px) and (max-height: 1000px) {
  .background {
    max-width: calc(150vh - 300px);
    min-width: calc(150vh - 300px);
  }

  #percentage-background {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }

  .navigation__container {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }
  
  .content__container {
    min-width: 45%;
	  width: 100%;
  }
}

@media (min-width:  1900px) and (min-height: 1000px) {
  .background {
    max-width: calc(150vh - 300px);
    min-width: calc(150vh - 300px);
  }

  #percentage-background {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }

  .navigation__container {
    max-width: calc(150vh - 350px);
    min-width: calc(150vh - 350px);
  }
  
  .content__container {
    min-width: 45%;
	  width: 100%;
  }
}

@media (min-width: 1500px) {
  .navigation__container nav>ul  {
    font-size: 12px;
  }
  
  .content form {
    font-size: 12px;
  }
  
  .form__checkbox-wrapper {
    font-size: 9px;
  }
}